.promo-image {
  max-height: 400px;
}

.highlight-newarival-image {
  max-height: 400px;
}

.highlight-image {
  max-height: 150px;
}

.footer-segment {
  margin-top: 40px !important;
  padding: 20px !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
